.services{
    margin: 100px;
    margin-top: 250px;
}

.services, .teams{
    color:#fff;
}
.serv-content{
    display: flex;
    justify-content: space-around;
}

.title{
    margin-bottom: 100px;
}

.services .serv-content .card{
  
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 10px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card:hover{
    background: blue;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}

.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

a{
    color: white;
}
a:hover{
    color:white;
}